/* File: src/app/globals.css */
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;

  /* Institutional Color System: AEGIS-UI Enterprise Palette */
  --color-palmyra-950: #022c22;
  --color-palmyra-900: #064e3b;
  --color-palmyra-800: #065f46;
  --color-palmyra-700: #047857;

  --color-foam-100: #ecfdf5;
  --color-foam-200: #d1fae5;
  --color-foam-300: #a7f3d0;

  --color-stone-50: #fafaf9;
  --color-stone-100: #f5f5f4;
  --color-stone-200: #e7e5e4;
  --color-stone-300: #d6d3d1;
  --color-stone-400: #a8a29e;
  --color-stone-500: #78716c;
  --color-stone-600: #57534e;
  --color-stone-700: #44403c;
  --color-stone-800: #292524;
  --color-stone-900: #1c1917;
  --color-stone-950: #0c0a09;
}

:root {
  --background: #f5f5f4;
  --foreground: #1c1917;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09;
    --foreground: #fafaf9;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  min-height: 100vh;
  letter-spacing: -0.014em;
  -webkit-font-smoothing: antialiased;
}

/* Dense Data Scrollbar Architecture */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a8a29e;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #78716c;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}